<ion-header [translucent]="true" *ngIf="!escaneando">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/productos" color="secondary"></ion-back-button>
    </ion-buttons>
    <ion-title color="secondary">Nuevo Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [class.scanner-active]="escaneando">
  
  <div *ngIf="!escaneando" class="ion-padding">
    
    <div style="text-align: center; margin-bottom: 20px;" (click)="tomarFoto()">
      <img [src]="nuevoProducto.imagen" style="width: 150px; height: 150px; object-fit: cover; border-radius: 10px; box-shadow: 0 4px 8px rgba(0,0,0,0.2);" />
      <p style="color: gray; margin-top: 5px;">
        <ion-icon name="camera-outline" style="vertical-align: middle;"></ion-icon> Tocar para cambiar foto
      </p>
    </div>

    <ion-item lines="stacked">
      <ion-label position="stacked">Código de Barras (Opcional)</ion-label>
      <ion-input [(ngModel)]="nuevoProducto.codigoBarras" placeholder="Escanea o escribe"></ion-input>
      <ion-button slot="end" fill="clear" (click)="escanearCodigo()">
        <ion-icon name="barcode-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item lines="stacked">
      <ion-label position="stacked">Nombre del Producto</ion-label>
      <ion-input [(ngModel)]="nuevoProducto.nombre" placeholder="Ej: Coca Cola 2L"></ion-input>
    </ion-item>

    <ion-item lines="stacked">
  <ion-label position="stacked">Marca</ion-label>
  <ion-input [(ngModel)]="nuevoProducto.marca" placeholder="Ej: Nestlé, Soprole..."></ion-input>
</ion-item>

<ion-item lines="stacked">
  <ion-label position="stacked">Proveedor / Distribuidor</ion-label>
  <ion-input [(ngModel)]="nuevoProducto.distribuidor" placeholder="Ej: Distribuidora Norte"></ion-input>
</ion-item>

    <ion-item lines="stacked">
      <ion-label position="stacked">Categoría</ion-label>
      <ion-select [(ngModel)]="nuevoProducto.categoria" interface="popover">
        <ion-select-option value="Abarrotes">Abarrotes</ion-select-option>
        <ion-select-option value="Botillería">Botillería</ion-select-option>
        <ion-select-option value="Verdulería">Verdulería</ion-select-option>
        <ion-select-option value="Panadería">Panadería</ion-select-option>
        <ion-select-option value="Otros">Otros</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="stacked">
      <ion-label position="stacked">Se vende por:</ion-label>
      <ion-select [(ngModel)]="nuevoProducto.medida">
        <ion-select-option value="Unidad">Unidad</ion-select-option>
        <ion-select-option value="Kg">Kilo (Kg)</ion-select-option>
        <ion-select-option value="Pack">Pack</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="stacked">
      <ion-label position="stacked">Precio de Venta ($)</ion-label>
      <ion-input type="number" [(ngModel)]="nuevoProducto.precio"></ion-input>
    </ion-item>

    <ion-item lines="stacked">
      <ion-label position="stacked">Stock Actual (Opcional)</ion-label>
      <ion-input type="number" [(ngModel)]="nuevoProducto.stock"></ion-input>
    </ion-item>

    <ion-button expand="block" class="ion-margin-top" (click)="guardarProducto()" class="guardar-btn">
      Guardar en Inventario
    </ion-button>
  </div>

  <div *ngIf="escaneando" class="scanner-overlay">
    
    <h2 class="scanner-text">Apunta al código de barras</h2>
    
    <div class="scanner-box">
      <div class="laser"></div>
    </div>

    <ion-button (click)="detenerEscaneo()" color="danger" class="btn-cancelar">
      <ion-icon slot="start" name="close-circle-outline"></ion-icon>
      Cancelar Escaneo
    </ion-button>

  </div>
  <br><br><br>

</ion-content>